<div class="password-strength-container">
    <h1>Enter password</h1>
    <div class="password-strength-checker">
        <input type="password" [(ngModel)]="password" (input)="checkPasswordStrength()">
        <div class="strength-bars">
          <div class="strength-bar" [style.background-color]="strengthColors['weak']"></div>
          <div class="strength-bar" [style.background-color]="strengthColors['medium']"></div>
          <div class="strength-bar" [style.background-color]="strengthColors['strong']"></div>
        </div>        
  </div>
  