<div class="password-strength-container">
    <h1>Enter password</h1>
    <div class="password-strength-checker">
      <input type="password" [(ngModel)]="password" (input)="checkPasswordStrength()" placeholder="Enter your password" />
      <div class="strength-levels">
        <div [style.background-color]="strengthColors[0]"></div>
        <div [style.background-color]="strengthColors[1]"></div>
        <div [style.background-color]="strengthColors[2]"></div>
      </div>
    </div>
  </div>
  